body{
    margin: 0;
    font-family: sans-serif;
}

/*header*/
.header{
    display: flex;
    gap: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 5px #222222;
    box-shadow: -1px 5px 5px #222222;
    padding-top: 1.5%;
    
}

#logo img{
    width: 20%;
}

#Shopping_Cart img{
    width: 50px;
}

#logo{
    margin-left: 1%;
    margin-bottom: 1%;
}

#Shopping_Cart{
    margin-top: -8%;
}

.link{
    display: flex;
    margin-left: -700px;
    gap: 20%;
    padding-right: 20%;
    margin-right: 100px;
    margin-top: 0.5%;
}

.header-right{
    display: flex;
    margin-right: -800px;
    gap: 10%;
    margin-top: 0.5%;
}

.header a{
    text-decoration: none;
    color: #222222;
    
}

.link a:hover{
    text-decoration: underline;
}

.header-right a:hover{
    text-decoration: underline;
}
/* Header slutt */

/*Footer*/

.footer{
    display: flex;
    gap: 10%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px -3px 5px #222222;
    box-shadow: -1px -3px 5px #222222;
    bottom: 0;
    width: 100%;
    
}

.footer a{
    text-decoration: none;
    color: #222222;
}

.footer-left{
    margin-left: 1%;
}

.footer-right{
    margin-top: 2%;
}

.footer a:hover{
    text-decoration: underline;
}

/*Footer slutt*/

/*Hjemmeside innhold*/
.overskrift{
    margin-left: 22%;
}

.bilder{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 5%;
}

.bilder img{
    width: 20%;
    border-radius: 10px;
}
/*Hjemmeside slutt*/

/*Login side*/
.login{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    
}

#new{
    display: flex;
    justify-content: center;
    margin-bottom: 16.5%;
    margin-top: -14.5%;
    margin-left: 26%;
}
/*Login side slutt*/
/*Registrer*/
.register{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: lightgray;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}
/*Registrer slutt*/