<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <a href="/">HOME</a>
        <a href="products">PRODUCTS</a>
        <a href="favorite">FAVORITE</a>
        <a href="/"><img src="/static/images/img/New_Logo_Large.png"></a>
        <a href="/login.html">LOGG INN</a>
        <a href="/cart.html"><img src="/static/images/img/Shopping_Cart.png"></a>
    </div>
    {% block body %}
    <h2>FOR DIN LOMMEBOK</h2>
    {% endblock %}

    <div class="footer">
        <div class="footer-left">
            <h5>CONTACT US:</h5>
            <p>EMAIL: h.bratlie@designs.com</p>
            <p>PHONE: +47 123 44 321</p>
        </div>
        <div class="footer-right">
            <a href="aboutus.html">ABOUT US</a>
        </div>

    </div>
</body>

</html>